<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.godder.homework.mapper.GradeMapper">
  <resultMap id="BaseResultMap" type="top.godder.homework.domain.Grade">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, info
  </sql>
  <select id="selectGrade" parameterType="map" resultMap="BaseResultMap">
    select * from grade
    <where>
      <if test="id != null">
        id = #{id}
      </if>
    </where>
  </select>
  <delete id="deleteGrade" parameterType="java.lang.Integer">
    delete from grade
    where id = #{id}
  </delete>
  <select id="countGrade" parameterType="java.lang.Integer" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from grade
    <where>
      <if test="id != null">
        id = #{id}
      </if>
    </where>
  </select>
  <update id="updateGrade" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update grade
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id}
  </update>
  <insert id="insertGrade" parameterType="top.godder.homework.domain.Grade">
    insert into grade (name, info) VALUES (#{name} , #{info} )
  </insert>
</mapper>