<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="utf-8">
	<title>我的课程</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/css/studentCourse.css" media="all" />
	<style>
	.card-body h4{
		font-size: 20px;
	}

	.card-body h5{
		font-size: 18px;
	}
	</style>
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<p>我的课程</p>
	</blockquote>
	<div class="layui-form users_list" style="display: inline;">

	<div class="card" style="width: 18rem; float:left; margin:20px;" th:each="info:${teacherCourses}">
 	 <div class="card-body">
    <h4 class="card-title"><strong th:text="${info[0] }"> </strong></h4>
    <h5 class="card-subtitle mb-2 text-muted" th:text="'课程代码:' + ${info[1] }"></h5>
    <h5 class="card-subtitle mb-2 text-muted" th:text="'开课学期:' + ${info[2] }"></h5>
    <h5 class="card-subtitle mb-2 text-muted" th:text="'任课班级:' + ${info[3] }"></h5>
    <h5 class="card-subtitle mb-2 text-muted" th:text="'是否公开:' + ${info[4] }"></h5>
    <a th:href="'teacher_teachCourse/' + ${info[5]}" style="font-size: 18px;" class="btn btn-outline-success" target="_blank">进入课程</a>
 	 </div>
	</div>
			
	</c:forEach>
	
	</div>
	<div id="page"></div>
</body>
</html>