<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>作业提交系统V2.0</title>
    <link href="/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/jquery-3-3-1-min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $tab_li = $('#tab ul li');
            $tab_li.hover(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var index = $tab_li.index(this);
                $('div.tab_box > div').eq(index).show().siblings().hide();
            });

            $("#stu_password_hide").keydown(function(e){
                if(e.keyCode==13){
                    login_student();
                };
            });

            $("#tea_password_hide").keydown(function(e){
                if(e.keyCode==13){
                    login_teacher();
                };
            });

        });



    </script>
</head>

<body class="h-100">

<div class="login_box">
    <div class="login_l_img">
        <img src="images/login-img.png" />
    </div>
    <div id="tab">
        <ul class="tab_menu">
            <li class="selected">学生登录</li>
            <li>导师登录</li>
        </ul>
        <div class="tab_box">
            <div>
                <div class="stu_error_box"></div>
                <div class="stu_login_error">
                    <div id="username">
                        <label>学&nbsp;&nbsp;&nbsp;号：</label>
                        <input type="text" id="stu_username_hide" placeholder="输入学号" nullmsg="学号不能为空！" datatype="s6-18" errormsg="学号范围在6~20个字符之间！"
                               sucmsg="学号验证通过！" />
                        <!--ajaxurl="demo/valid.jsp"-->
                    </div>
                    <div id="password">
                        <label>密&nbsp;&nbsp;&nbsp;码：</label>
                        <input type="password" id="stu_password_hide" placeholder="输入密码" onkeydown="" nullmsg="密码不能为空！" datatype="*6-16"
                               errormsg="密码范围在6~20位之间！" sucmsg="密码验证通过！" />
                    </div>
                    <div id="remember">
                        <input type="checkbox" name="remember">
                        <label>记住密码</label>
                    </div>
                    <div id="login">
                        <button id="stu_login" onclick="login_student()">登录</button>
                    </div>
                    <div id="login">
                        <button onclick="window.open('register')">注册</button>
                    </div>
                </div>
            </div>
            <!-- å­¦çç»å½ç»æ-->
            <!-- å¯¼å¸ç»å½å¼å§-->
            <div class="hide">
                <div class="tea_error_box"></div>
                <div class="tea_login_error">
                    <div id="username">
                        <label>教工号：</label>
                        <input type="text" id="tea_username_hide" placeholder="输入教工号" nullmsg="教工号不能为空！" datatype="s6-18" errormsg="教工号范围在6~18个字符之间！"
                               sucmsg="教工号验证通过！" />
                        <!--ajaxurl="demo/valid.jsp"-->
                    </div>

                    <div id="password">
                        <label>密&nbsp;&nbsp;&nbsp;码：</label>
                        <input type="password" id="tea_password_hide" placeholder="输入密码" nullmsg="密码不能为空" datatype="*6-16" errormsg="å¯ç èå´å¨6~16ä½ä¹é´ï¼"
                               sucmsg="å¯ç éªè¯éè¿ï¼" />
                    </div>
                    <div id="remember">
                        <input type="checkbox" name="remember">
                        <label>记住密码</label>
                    </div>
                    <div id="login">
                        <button id="tea_login" onclick="login_teacher()">登录</button>
                    </div>
                </div>
            </div>
            <!-- å¯¼å¸ç»å½ç»æ-->

        </div>
    </div>
</div>
<div class="bottom">©2018 Homework Submit System</div>
</body>
</html>