<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<title>作业提交系统V2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="favicon.ico">
		<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<link rel="stylesheet" href="/css/main.css" media="all" />

	<link rel="stylesheet" href="/css/font-awesome.css">
</head>
<body class="main_body">
	<div class="layui-layout layui-layout-admin">
		<!-- 顶部 -->
		<div class="layui-header header">
			<div class="layui-main">
				<a href="main_teacher" style="width: 200px;height: 60px;" class="logo">作业提交系统</a>
				<!-- 显示/隐藏菜单 -->
				<a href="javascript:;" class="iconfont hideMenu icon-menu1"></a>
				<!-- 搜索 -->
				<!-- <div class="layui-form component">
			        <select name="modules" lay-verify="required" lay-search="">
						<option value="">直接选择或搜索选择</option>
						<option value="1">我的任务</option>
						<option value="2">我的课程</option>
						<option value="3">个人资料</option>
						<option value="4">讨论墙</option>
			        </select>
					<i class="layui-icon">&#xe615;</i>
			   </div> -->
			    <!-- 顶部右侧菜单 -->
			    <ul class="layui-nav top_menu">
			    	<li class="layui-nav-item showNotice" id="showNotice" pc>
						<a href="javascript:;"><i class="iconfont icon-gonggao"></i><cite>系统公告</cite></a>
					</li>
			    	<li class="layui-nav-item" mobile>
			    		<a href="javascript:;" class="mobileAddTab" data-url="page/user/changePwd.html"><i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i><cite>设置</cite></a>
			    	</li>
			    	<li class="layui-nav-item" mobile>
			    		<a href="login/login.html" class="signOut"><i class="iconfont icon-loginout"></i> 退出</a>
			    	</li>
					<li class="layui-nav-item" pc>
						<a href="javascript:;">
							<img src="/images/user-avater.png" class="layui-circle" width="35" height="35">
							<cite th:text="${user.getName()}"></cite>
						</a>
						<dl class="layui-nav-child">
							<dd><a id="userinfo" href="javascript:;" data-url="page/user/userInfo.html"><i class="iconfont icon-zhanghu" data-icon="icon-zhanghu"></i><cite>个人资料</cite></a></dd>
							<dd><a id="changeps" href="javascript:;" data-url="page/user/changePwd.html"><i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i><cite>修改密码</cite></a></dd>
							<dd><a href="javascript:;" class="changeSkin"><i class="iconfont icon-huanfu"></i><cite>更换皮肤</cite></a></dd>
							<dd><a href="logout" class="signOut"><i class="iconfont icon-loginout"></i><cite>退出</cite></a></dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<!-- 左侧导航 -->
		<div class="layui-side layui-bg-black">
			<div class="user-photo">
				<a class="img" title="我的头像" ><img src="/images/user-avater.png"></a>
				<p style="font-size: 16px;"><span style="font-size: 16px;" class="userName" th:text="${user.getName() }"></span>, 欢迎登录</p>
			</div>
			<div class="d-flex flex-column">
							<br>					<br>
				<button class="btn btn-secondary btn_top_margin" id="btTeachCourse">任课</button>
				<button class="btn btn-secondary border-dark btn_top_margin" id="btMyCourse">我的课程</button>
			</div>
		</div>
		<!-- 右侧内容 -->

		<div class="layui-body layui-form">
			<div class="layui-tab marg0" lay-filter="bodyTab" id="top_tabs_box">				
				<div class="layui-tab-content clildFrame">
					<div class="layui-tab-item layui-show">
						<div id="subpage" class="h-100">
							<blockquote class="layui-elem-quote news_search">
							<h3>系统公告</h3>
							</blockquote>
						  	<table class="layui-table">
							    <colgroup>
									<col width="10%">
									<col width="8%">
									<col width="50%">
							    </colgroup>
							    <thead>
									<tr>
										<th>公告名称</th>
										<th>发布日期</th>
										<th>内容</th>
									</tr>
									<tr th:each="notice:${notices}">
										<td th:text="${notice.getName() }"></td>
										<td th:text="${notice.getDate() }"></td>
										<td th:text="${{notice.getInfo() }}"></td>
									</tr>
							    </thead>
							</table>


						</div>
					</div>
				</div>
			</div>
		</div>	
		<!-- 底部 -->
		<div class="layui-footer footer">
			<p>copyright @2019 Godder<a onclick="donation()" class="layui-btn layui-btn-danger layui-btn-small">捐赠作者</a></p>
		</div>
	</div>
	
	<!-- 移动导航 -->
	<div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
	<div class="site-mobile-shade"></div>

	<script type="text/javascript" src="js/jquery-3-3-1-min.js"></script>
	<script type="text/javascript" src="layui/layui.js"></script>
	<script type="text/javascript" src="js/leftNav.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/main_teacher.js"></script>

</body>
</html>